.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 20px;
    cursor: pointer;

    .selected {
        background: #5a84e3;
        color: white;
    }
}

.tag {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: auto;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}