.handle {
    position: absolute;
    pointer-events: none;
    min-width: 5px;
    min-height: 5px;
    width: 16px;
    height: 16px;
    background: #1a192b;
    border: 1px solid white;
    border-radius: 100%;
}

.left {
    position: relative;
    left: -12px;
    top: 32px;
}

.right {
    position: relative;
    right: 0;
    top: 0;
}

.boolean {
    composes: handle;
    background: green;
}

.text {
    composes: handle;
    background: black;
}

.number {
    composes: handle;
    background: blue;
}

.union {
    composes: handle;
    background: conic-gradient( red, orange, yellow, green, blue, indigo, violet);
}


