.node {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    border-radius: 0.5rem;
    padding: 16px;

}

.header {
    border-bottom: 2px solid darkgray;
    width: 100%;
}

.filterNode {
    composes: node;
    width: 300px;
    height: 400px;

}